<f:layout name="Decouverte" />
<f:section name="Main">

	<div class="container">
		<div class="row">
			<div class="col-md-{settings.mainwidth} col-md-push-{settings.leftwidth}" role="main">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
			</div>
			<div class="col-md-{settings.leftwidth} col-md-pull-{settings.mainwidth}">
				<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '1'}" />
			</div>
			<aside class="col-md-{settings.rightwidth}">
				<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '2'}" />
			</aside>			
		</div>
	</div>

</f:section>
