<div class="bg-effet"></div>
<div class="body-bg{f:if(condition:themeNavigationtype, then:' body-bg-{themeNavigationtype}')}">
	<f:link.page class="sr-only sr-only-focusable" section="content">
		{f:translate(key: 'skiptomaincontent', extensionName: 'bootstrap_package')}
	</f:link.page>
	<header class="wrapper">
		<div class="container bandeau">
			<f:cObject typoscriptObjectPath="lib.bandeau"/>	
			 <span class="logo-sup">
				<f:if condition="{settings.logo.file}">
							<f:then>
								<f:link.page pageUid="{rootPage}" class="link-img-logo" title="{settings.logo.linktitle}">
									<img class="img-logo" src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}" />
								</f:link.page>
							</f:then>
							<f:else>
								<f:link.page pageUid="{rootPage}" class="link-logo" title="{settings.logo.linktitle}">{siteTitle}</f:link.page>
							</f:else>
				</f:if>	
			</span>	
			 <f:if condition="{showCollectivite}">
			 <section class="titre-sup">
					<h1><f:link.page pageUid="{rootPage}" class="link-logo" title="{settings.titreBandeau.texte}">{settings.titreBandeau.texte}</f:link.page></h1>
			</section>
			</f:if>				
		</div> 
	</header>	
	<f:render partial="Navigation/Main" arguments="{_all}"/>
	<f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>

	<div id="content" class="main-section container">
	<!--TYPO3SEARCH_begin-->	
		<f:render section="Main"/>
	<!--TYPO3SEARCH_end-->		
	</div>

	<f:render partial="Structure/Footer" arguments="{_all}"/>
</div>
