<footer class="wrapper">
	<div class="container">
		<section class="footer-section">
		        <div class="row">
		            <div class="col-sm-12">
		                <f:render partial="Navigation/Footer" arguments="{_all}"/>
		            </div>
		        </div>
		</section>
       <f:if condition="{themeCopyright}">
		<section class="meta-section">
		        <div class="row">		
		                <div class="col-md-12 copyright">
		                    <f:format.html>{themeCopyrightText}</f:format.html>
		                </div>
		        </div>
		</section>
		</f:if>		
	</div>
</footer>
